<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="nav">
        {% if 'user_id' in session %}
            <span>Привет, {{ session['username'] }}!</span>
            <a href="{{ url_for('logout') }}" class="button">Log Out</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="button">Log in</a>
            <a href="{{ url_for('register') }}" class="button">Register</a>
        {% endif %}
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
</body>
</html>