{% extends "base.html" %}

{% block title %}Weather in {{ weather.city }}{% endblock %}

{% block content %}
    <div class="weather-view-container">
        <div class="weather-container">
            {% if request.path == '/weather/' or weather.city == 'City'%}
                <h1>⬆️ Enter name of the city in address</h1>
            {% elif not weather.city %}
                <h1> ⬆️City not found.</h1>
                <h1> Enter name of the city in address</h1>
            {% else %}
                <h1>{{ weather.city }}</h1>
            {% endif %}
        </div>
    
        <div class="weather-temperature">{{ weather.temp }}°C</div>
            <p>Feels like {{ weather.feels_like }}°C</p>
            <p>{{ weather.description }}</p>
            <div class="weather-details">
                <div class="weather-detail-item">
                    <p> Humidity</p>
                    <p>{{ weather.humidity }}%</p>
                </div>
                <div class="weather-detail-item">
                    <p> Wind</p>
                    <p>{{ weather.wind }} m/s</p>
                </div>
            </div>
        </div>
    
        
    </div>
    

    <a href="/" class="button"> Main page</a>
{% endblock %}