<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажер HTML+CSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container"> 
        <header class="header">
            <p>Приветствуем Вас на странице демонстраторе HTML/CSS!</p>
            <nav class="navigation">
                <a class="button" href="/">Главная</a>

                <div class="dropdown">
                    <button class="dropbtn">Задания</button>
                    <div class="dropdown-content">
                        {% block menu1 %}
                        {% include 'menu.html' %}        
                        {% endblock %}
                    </div>
                </div>
                
                <a class="button" href="/">Вход</a>
                <a class="button" href="/">Регистрация</a>
            </nav>  
        </header>

        <aside class="sidebar">
            <h3>Все задания</h3>
            <nav class="sidebar-menu">
                {% block menu2 %}
                {% include 'menu.html' %}        
                {% endblock %}
            </nav>
        </aside>

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        
        
    </div>   
    <footer>
        @ Супер-крутая IT-контора сына маминой подруги. 
    </footer>
</body>
</html>