{% extends 'base.html' %}

{% block content %}
    <h1>Генераторы</h1>

    <ul>
        <li>Цвета
            <ul>
                <li>Color mixers</li>
                <li>Color Tester</li>
                <li>Color Pallete</li>
            </ul>
        </li>
        <li>Флавиконы
            <ol>
                <li>Flavicon.cc
                    <ul>
                        <li><a href="#bottom">Скачать</a></li>
                        <li><a href="#bottom">Демо</a></li>
                    </ul>
                </li>
                <li>WebLab Flavicon</li>
            </ol>
        </li>
        <li>Фоны
            <ul>
                <li>BgMaker</li>
                <li>StripeGenerator</li>
            </ul>
        </li>
        <li>Изображения
            <ol>
                <li>Bottonator</li>
                <li>AjaxLoad</li>
            </ol>
        </li>
      </ul>
      <hr>
    
{% endblock %}