{% extends 'base.html' %}

{% block content %}
    <div class="task7-container">
        <h1>Химические элементы</h1>
        <div class="table-container">
            <table class="table-task7">
                <thead>
                    <tr>
                        <td>Номер</td>
                        <td>Название</td>
                        <td>Символ</td>
                        <td>Год</td>
                        <td>Статья</td>
                    </tr>
                </thead>
                <tbody>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=convert_to_text" />
                    <tr>    
                        <td>1</td>
                        <td><a href="https://ru.wikipedia.org/wiki/%D0%92%D0%BE%D0%B4%D0%BE%D1%80%D0%BE%D0%B4" target="_blank">Водород</a></td>
                        <td>H</td>
                        <td>1776</td>
                        <td><span class="material-symbols-outlined">convert_to_text</span></td>
                    </tr>
                    <tr>    
                        <td>2</td>
                        <td><a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BB%D0%B8%D0%B9" target="_blank">Гелий</a></td>
                        <td>He</td>
                        <td>1895</td>
                        <td><span class="material-symbols-outlined">convert_to_text</span></td>
                    </tr>
                    <tr>    
                        <td>3</td>
                        <td><a href="https://ru.wikipedia.org/wiki/%D0%91%D0%BE%D1%80" target="_blank">Бор</a></td>
                        <td>B</td>
                        <td>1808</td>
                        <td><span class="material-symbols-outlined">convert_to_text</span></td>
                    </tr>
                    
                </tbody>
            </table>
            
        </div>

    </div>

{% endblock %}