{% extends 'base.html' %}

{% block content %}
    <div class = 'task9-container'>
        <h3>Стихотворение</h3>
            <div class="task9-poem-text">
                Мириады маленьких дел
                Пьют по капле гаснущий день,
                А <em>дела большие</em> сушит жажда.
                Оставляя все на "потом",
                Прозреваем задним числом, 
                Только день <strong>не повторится</strong> дважды.
    
                И.Тальков
            </div>
    </div>

{% endblock %}