{% extends 'base.html' %}

{% block content %}
    <span class="poem-h">Евгений Евтушенко</span>
    <div class="poem-text">
                    — 1955 —
                    
        Бывало, спит у ног собака,
        костер занявшийся гудит,
        и женщина из полумрака
        глазами зыбкими глядит.

        Потом под пихтою приляжет
        на куртку рыжую мою
        и мне, 
                задумчивая, 
                                    скажет:
        «А ну-ка, спой!..» 
                                    — и я пою.
    </div>

{% endblock %}