{% extends 'base.html' %}

{% block content %}
    <table class="table-task4">
        <thead>
            <tr>
                <td></td>
                <td>2004</td>
                <td>2005</td>
                <td>2006</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Рубины</td>
                <td>43</td>
                <td>51</td>
                <td>79</td>
            </tr>
            <tr>
                <td>Изумруды</td>
                <td>28</td>
                <td>34</td>
                <td>48</td>
            </tr>
            <tr>
                <td>Сапфиры</td>
                <td>29</td>
                <td>57</td>
                <td>36</td>
            </tr>
            <tr>
                <td>Аметисты</td>
                <td>23</td>
                <td>64</td>
                <td>97</td>
                
            </tr>

        </tbody>
    </table>
{% endblock %}