
<div class="modal" id="modal1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Добавление нового КВИЗА</h3>
            <a href="#close" class="btn-close" aria-hidden="true">x</a>
        </div>
        <div class="modal-body">
            
            <form action="/quizes_view/" method="post">
                <fieldset>
                    <legend>Добавьте название</legend>
                    <input type="text" name="quiz">
                    
                    <input class="button" type="submit" value="OK">


                </fieldset>
                
            
            </form>
        </div>
    </div>
</div>
